---
import Layout from '~/layouts/PageLayout.astro'

import Hero from '~/components/widgets/Hero.astro'
import CallToAction from '~/components/widgets/CallToAction.astro'

import Features2 from '~/components/widgets/Features2.astro'
import Features from '~/components/widgets/Features.astro'
import Stats from '~/components/widgets/Stats.astro'
import Features3 from '~/components/widgets/Features3.astro'
import FAQs from '~/components/widgets/FAQs.astro'
import Brands from '~/components/widgets/Brands.astro'

import { getCategories, getMain } from '~/scripts/requests'
import { numElements } from '~/scripts/utils-functional'

const metadata = {
  title: 'Startup Landing Page',
}



const categories = await getCategories()
const mainData = await getMain()

const areas = [...new Set(categories.map(category => category.area))]
const titles = mainData.map(item => item.title)

const numAreas = areas.length //numero di aree
const numSites = numElements(mainData)

const titlesOcc = titles.reduce((acc, title) => {
  acc[title] = (acc[title] || 0) + 1
  return acc
}, {})

console.log('numSites', numSites)


/*
// Per contare le occorrenze dei titoli (ad esempio), puoi usare un oggetto di mappatura
const titleOccurrences = titles.reduce((acc, title) => {
  acc[title] = (acc[title] || 0) + 1;
  return acc;
}, {});

const nameOccurrences = names.reduce((acc, name) => {
  acc[name] = (acc[name] || 0) + 1;
  return acc;
}, {});

const urlOccurrences = urls.reduce((acc, url) => {
  acc[url] = (acc[url] || 0) + 1;
  return acc;
}, {});

*/


console.log(areas)
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!--
  <Hero
    tagline="Dashboard"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get templates',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Scale Your Production with Confidence: <span class="text-accent dark:text-white highlight">OpenFavs</span> -
      The Flexible Resource & Workflow Platform      
    </Fragment>

    <Fragment slot="subtitle">  
      Classify, Improve, and Optimize Your <span class="font-semibold">Workflow</span> with One Powerful Tool      
    </Fragment>

    
    <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
     
  </Hero> 
  -->
  <Stats
    tagline="Dashboard"
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  />

  <Features2
    tagline="Workspaces"
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Favourites',
        description:
          'Manage and organize your bookmarks following your field of interest; export your lists in the browsers.',
        icon: 'flat-color-icons:bookmark',
      },
      {
        title: 'Production',
        description:
          'Manage and organize your production and developement flow; generate personal blog or project portfolio.',
        icon: 'flat-color-icons:workflow',
      },
      {
        title: 'AI Assist',
        description:
          'Use AI to do tasks for categorize automatically useful resources.',
        icon: 'tabler:ai',        
      },
      /*
      {
        title: 'Branding',
        description:
          'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        icon: 'tabler:arrow-big-up-lines',
      },
      {
        title: 'Medical',
        description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        icon: 'tabler:vaccine',
      },
      {
        title: 'Fashion Design',
        description:
          'With attention to detail, customization, and contemporary design, they empower designers to showcase ideas cohesively. Ideal for all levels of designers.',
        icon: 'tabler:tie',
      }
      */
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    tagline="Activities"
    title="Instant Access to Your Key Project Tools"
    subtitle="Manage and organize your resources effortlessly with AI-driven insights, all from a single, intuitive dashboard"
    columns={3}
    items={[
      {
        title: `Recent Addictions (${numSites})`,
        description:
          'By harmonizing instructional design and visual appeal, templates streamline content creation for varied materials, expediting development and cultivating engaging educational spaces.',
        
      },
      {
        title: 'Custom Lists s (0)',
        description:
          'Crafting functional, visually appealing spaces for residential and commercial use. Templates emphasize layout, colors, and furniture setups, offering a versatile toolkit for your design vision.',
        
      },
      {
        title: 'AI Suggestions s (0)',
        description: `Empowering photographers, our templates facilitate captivating storytelling. With a keen focus on layout, galleries, and typography, they cater to both professionals and enthusiasts.`,
        
      },
      {
        title: 'Production and Developing s (0)',
        description:
          'Developing engaging online stores, our E-commerce templates ensure a dynamic presence to effectively showcase products. Ideal for startups or revamps.',
       
      },
      {
        title: `Interests areas (${numAreas})`,
        description:
          "These are the areas of interest that you can explore on our platform. Each area is designed to offer a wealth of resourcesand tools to enhance your experience. If you desire expanding our current topics or introducing new areas, we’d love to hear from you. Feel free to contact us!",
       
      },
      {
        title: 'Portfolio',
        description:
          'Providing polished options for effective visual communication, these templates empower both startups and established companies for a professional brand presence.',
       
      }
    ]}
  />




  

  

  

  

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Recent Addictions (0)',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Custom Lists (0)',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'AI Suggestions (0)',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Portfolio',
        description: 'Optimized for speed to ensure a smooth user experience and favorable search engine rankings.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Production and Developing (0)',
        description:
          'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
        icon: 'tabler:arrows-right-left',
      }
    ]}
  />

  

  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Get templates',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>
</Layout>
